   /* Title Banner */
   #title-banner {
    margin-left: 10px;
    margin-right: 100px;
   }
   /* Home subtitle & ul title*/
    h3 {
        margin-left: 40px;
        margin-right: 160px;
        /*outline: 1px solid purple; --- used to identify error*/
    }
   
   /* Navigation Styling */

   .navbar ul{
        list-style-type: none;
        background-color: darkgrey;
        padding: 0px;
        margin: 0px;
        overflow: hidden; /* lets background carry over for horizontal change .navbar li{} */
        display: flex;
        justify-content: center;
    }
 
    .navbar a{
        color: rgb(11, 17, 22);
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        text-align: center;
        transition: 2s;    
    }

    .navbar a:hover{
        background-color: blanchedalmond;
        color:rgb(19, 1, 27)
    }

    .navbar li{
        margin: 0px;
    }



   /* Body Styling */
    body {
    background-color: #FFF9FF;
    font-family:Arial, Helvetica, sans-serif;
    color: #2F4F4F;
    margin: 0;
    padding: 0;
    }
    /* TABLE DETAILS */
    table {
        width:100%;
        background-color:aquamarine;
        border: 1px solid black;
        border-collapse: collapse;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    caption {
        font-size: small;
        font-weight: 200;
        margin-bottom:15px;
        color:grey;
    
    }
    th {
        background-color: honeydew;
        color:black;
        border: black;
        padding:0;
        text-align: center;
    }
    td {
        background-color: honeydew;
        color: black;
        border: honeydew;
        padding: 0;
        text-align: center;
    }
    
    .text-content h2{
        margin: 0px;
        /*outline: 1px dashed blue; --- used to identify error*/
    
    }
    ul {
        margin-left: 50px;
        padding-left: 5px;
    }
    #ai-ethics-h2 {
        margin-left: 25px;
        margin-right: 25px;
        background-color: #c8dbff;
    }
    #ai-ethics-p {
        margin-left: 25px;
        margin-right: 25px;
        gap: 5px;
        background-color: #c8dbff;
    }
    #ai-ethics-link {
        margin-left: 25px;
        margin-right: 25px;
        background-color: #c8dbff;
    }
    .fancy-breaker {
        text-align: center;
        font-size: 24px;
        color: indigo;
        margin: 40px auto;
    }
    
    /* Flexbox container for first image and text*/
    .first-image-container {
        display: flex;
        align-items: center; /* Aligns text and image */
        justify-content: center; /* Ensures text is to the left of the image */
        gap: 30px; /* Adds space between image and text */
        max-width: 99%; /* Prevents stretching too wide out */
        margin: 1% auto;
        margin-bottom: 0%;
    }

    .text-content {
        flex: 1; /* Allows text to take available space */
        max-width: 85%;
        /*outline: solid greenyellow; --- used to identify an error*/
    }

    .first-image-container img {
        max-width: 50%;
        height: auto;
        object-fit: contain;
        outline: solid rgb(36, 1, 36);
    }
    
    /* reverse for 3rd img and txt */
    .reverse-container {
        display: flex;
        align-items: center; /* aligns at top */
        gap: 10px;
        max-width: 99%;
        margin: 1% auto;
        margin-bottom: 0%;
        padding: 2%;
    }

    .reverse-container img{
        max-width: 250px;
        height: auto;
        flex-shrink: 0; /* Prevents image from shrinking */
        align-self: center;
        margin-right: 5%;
    }